$MT: "Montserrat-Thin";
$ML: "Montserrat-Light";
$MEL: "Montserrat-ExtraLight";
$MR: "Montserrat-Regular";
$MM: "Montserrat-Medium";
$MSB: "Montserrat-SemiBold";
$MB: "Montserrat-Bold";
$MEB: "Montserrat-ExtraBold";
$MBlack: "Montserrat-Black";


$primary: #23A6F0;
$secondary: #737373;
$faded-primary-color:#B2E3FF;
$faded-primary-color-1:#B9EAA8;
$text-color:#252B42;
$danger-color:#E74040;
$bg-color:#FFDCD1;
$gray: rgb(142, 142, 147);
$light: rgb(250,250,250);