*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button,
input,
textarea {
outline: none;
border: none;
}
img {
    display: block;
    background: transparent;
}

a{
    text-decoration: none;
}
.container{
    max-width: 1440px;
    width: 100%;
    padding: 0 197px;
    margin: 0 auto;
}